<div class="header">
  <div class="title">
    <h1><span class="c1">D</span>-vesi</h1>
    <p>農家から直接野菜を購入しよう！</p>
    <div class="btn">
     <ul>
       <li class="left"><%= link_to 'ログイン',new_customer_session_path %></li>
       <li class="right"><%= link_to '新規登録',new_customer_registration_path %></li>
     </ul>
    </div>
  </div>
</div>

<div class="contents">
  <h2>Pick Up</h2>
  <div class="items">
    <div class="item">
      <#img src="pr00021.jpg">
      <div class="producer">
        <p>訳あり野菜の詰め合わせです！無農薬です！</p>
        <img src="./app/assets/images/621769_s.jpeg"> 
      </div>
    </div>
    <div class="item">
      <#img src="pr00021.jpg">
      <div class="producer">
        <p>訳あり野菜の詰め合わせです！無農薬です！</p>
        <img src="./app/assets/images/621769_s.jpeg"> 
      </div>
    </div>
    
  </div>
</div>

<div class="footer">
  <%= link_to '生産者の方はこちら', new_producer_session_path %>
</div>